<!DOCTYPE html>
<html lang='en-US'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>{{current_show.title}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id='wrapper'>
        <h1>Edit Show {{current_show.id}} </h1>
        <form action="update" method="POST">
            {% csrf_token %}
            <label for="title_input">Title</label>
            <input name="title_input" type="text" value="{{current_show.title}}">
            <label for="Network_input">Network</label>
            <input name="network_input" type="text" value="{{current_show.network}}">
            <label for="release_date_input">Release Date</label>
            <input name="release_date_input" type="date" value="{{current_show.release_date|date:'Y-m-d'}}">
            <label for="desc_input">Description</label>
            <textarea name="desc_input" id="" cols="30" rows="10" value="{{current_show.desc}}"></textarea>
            <button type="submit" value="{{current_show.id}}" name="update_show">Add Show</button>
        </form>
        
        
        
    </div>
</body>
</html>